@font-face {
	font-family: 'Baloo Tamma 2';
	src: url('fonts/BalooTamma2.ttf');
}

body, head {
	font-family:'Baloo Tamma 2', sans-serif;
	background-color: gray;
}

/* header */
header {
	display: flex;
	flex-direction: row;
	margin-left: 2%;
}
button.help {
	position: relative;
	text-align: center;
	margin-left: auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 24px;
}
/*main content */
div {
	border-style: solid;
	
	width: 80%;
	height: 70%;
	margin-left: 10%;
	margin-top: 15%;

	display: flex;
	flex-direction: column;

	background-color: darkgray;
}
select {
	width: 65%;
	height: 50px;
	font-size: 170%;

	position: relative;
	margin-left: 17.5%;
	margin-top: 20px;
	margin-bottom: 25px;
}
#text1 {
	font-size: 300%;
	margin: 20px 7.5% 17px 7.5%;
	text-align: center;
}
#nextButton {
	width: 50%;
	height: 50px;
	font-size: 150%;
	margin-left: 25%;
	margin-top: 2%;
	margin-bottom: 20px;
	background-color: lightgray;

	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
}